.creat{
    background-color: rgb(87, 0, 200);
    color: white;
}
.delet{
    background-color: rgb(87, 0, 200);
    color: white;
}
input{
    background-color: black;
    color: white;
}

